<b>--- HELP ---</b>
<b>/help</b> - show this help
<b>/start</b> - initialize settings
<b>/register</b> - for registration of new user
<b>/list</b> - show and manipulate all your watch keywords
<b>/add foo</b> - adds 'foo' to your watch keywords, max 60 characters, <a href='https://fusejs.io/examples.html#extended-search'>extended search applicable</a>