<b>===== NEW ITEM =====</b>
<%= item.label %> - <b><%= item.name %></b>

Price: <b><%= price %></b>
<%=item.mainCategory%><% if (item.subCategory) { %> - <%=item.subCategory%> <%} %>

<%= item.text %> 

<a href="<%= item.url %>">Link for item</a> - <%= item.itemId %>
keyword: <%= keyword %>