<b>&&&&& STATUS &&&&&</b>

<% for (let i = 0; i < sites.length ; i++) { %><b><%= sites[i].site %></b>
status: <%= sites[i].execution.status %>
items: <%= sites[i].count %>
page: <%= sites[i].execution.lastPageIndex %>
exec:   <%= sites[i].execution.lastExecution.toLocaleString("cs-CZ") %>
touch:  <%= sites[i].execution.lastTouch.toLocaleString("cs-CZ") %>
finish: <%= sites[i].execution.lastFinish.toLocaleString("cs-CZ") %>

<% } %>