<b>===== NEW ITEM =====</b>
<%= item.label %> - <b><%= item.name %></b>

Price: <b><%= price %></b>
<%= item.seller.kraj %> - <%= item.seller.city %>
<%=item.mainCategory%><% if (item.subCategory) { %> - <%=item.subCategory%> <%} %>

<b>Seller</b> - <%= item.seller.name %>

<% const properties = Object.entries(item.properties); %><% if (properties.length > 0) { %><b>--- Properties ---</b><% } %>
<% for (let [key, value] of properties) { if (value) { %><b><%= key %></b> - <%= value %>
<% }} %>
<%= item.text %>

<a href="<%= item.url %>">Link for item</a> - <%= item.itemId %>
keyword: <%= keyword %>