<b>***** CHANGED ITEM *****</b>
<%= item.label %> - <b><%= item.name %></b>

Price: <b><%= price %></b>
<%= item.seller.kraj %> - <%= item.seller.city %>
<%=item.mainCategory%><% if (item.subCategory) { %> - <%=item.subCategory%> <%} %>

<%= item.seller.username %> - <%= item.seller.name %> | +<%= item.seller.ratingPositive %> -<%= item.seller.ratingNegative %>
Tel.: <% if (item.seller.telephone) { %><%=item.seller.telephone%><%} else { %> - <% } %>
E-mail: <% if (item.seller.email) { %><%=item.seller.email%><%} else { %> - <% } %>

<%= item.text %> 

<a href="<%= item.url %>">Link for item</a> - <%= item.itemId %>
keyword: <%= keyword %>

===== CHANGES =====
Old version from: <%= changeTime  %>
<% for (let i = 0; i < changes.length ; i++) { %>----------
<b><%= changes[i][0]  %></b>
<b>OLD:</b> <%= changes[i][1]  %>
<b>NEW:</b> <% if (changes[i][0] === 'price') { %><%= price %><%} else { %><%= item[changes[i][0]]%><% } %>
<% } %>
